<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<!-- CONNECTION STRINGS -->
	<connectionStrings>
		<!-- 
      IMPORTANT: Update this connection string with your actual database details!
      
      For SQL Server Express (LocalDB):
      Server=(localdb)\MSSQLLocalDB;Database=FitLifeHubDB;Integrated Security=true;
      
      For SQL Server with Windows Authentication:
      Server=YOUR_SERVER_NAME;Database=FitLifeHubDB;Integrated Security=true;
      
      For SQL Server with SQL Authentication:
      Server=YOUR_SERVER_NAME;Database=FitLifeHubDB;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;
      
      For Azure SQL Database:
      Server=tcp:YOUR_SERVER.database.windows.net,1433;Database=FitLifeHubDB;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;Encrypt=true;
    -->
		<add name="FitLifeHubConnectionString" connectionString="Server=(localdb)\MSSQLLocalDB;Database=FitLifeHubDB;Integrated Security=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Session Configuration -->
		<sessionState mode="InProc" timeout="30" />

		<!-- Authentication Configuration -->
		<authentication mode="Forms">
			<forms name=".FitLifeHubAuth" loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" timeout="2880" slidingExpiration="true" />
		</authentication>

		<!-- Authorization - Allow all for public pages -->
		<authorization>
			<allow users="*" />
		</authorization>

		<!-- Custom Error Pages (enable in production) -->
		<customErrors mode="Off" defaultRedirect="~/Error.aspx">
			<error statusCode="404" redirect="~/PageNotFound.aspx" />
			<error statusCode="403" redirect="~/UnauthorizedAccess.aspx" />
		</customErrors>

		<!-- Page Configuration -->
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>

	<!-- Restrict access to specific folders -->
	<location path="UserDashboard.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="TrainerDashboard.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow roles="Trainer,Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="AdminDashboard.aspx">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />

		<!-- Error Pages -->
		<httpErrors errorMode="Detailed" />
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
